* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

button {
  color: white;
  padding: 3px 10px;
  margin-left: -3px;
  margin-right: -3px;
}

ul.list-cities {
  padding: 0;
}

.cities:hover {
  color: rgb(39, 41, 43);
  border-bottom: 2px solid rgb(11, 182, 125);
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
}

footer a {
  padding: 0;
  text-decoration: underline;
  color: rgb(11, 182, 125);
}

footer a:hover {
  font-size: 10px;
  border-bottom: none;
  font-weight: 200;
  padding: 0;
  text-decoration: underline;
  color: rgb(11, 182, 125);
}

ul {
  list-style: none;
  padding-left: 0;
}

footer {
  text-align: center;
  font-size: 10px;
  margin: 15px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

#all {
  margin: 30px auto;
  border: 1px solid #dadde1;
  max-width: 800px;
  border-radius: 5px;
}

#column:hover {
  background-color: rgba(58, 170, 140, 0.1);
  border-radius: 5px;
}

#currentCity {
  font-size: 30px;
  padding-top: 15px;
}

#weather-description::first-letter {
  text-transform: uppercase;
}

.search {
  padding: 3px 10px;
  margin-right: -5px;
}

.day-of-week {
  margin: 5px 10px 10px 10px;
  border-bottom: 2px solid rgb(11, 182, 125);
  font-size: smaller;
}

.search-in {
  background-color: rgb(11, 182, 125);
  border: rgb(11, 182, 125) 2px solid;
  margin-right: -5px;
}

.current {
  background-color: orange;
  border: orange 2px solid;
}

.current-degrees {
  color: rgb(11, 182, 125);
  font-weight: 600;
}

.new-degrees {
  font-weight: 700;
}

.max {
  font-size: 40px;
}

.space {
  margin-bottom: 150px;
}

.city {
  margin: 10px;
}

.last {
  margin-bottom: 20px;
}

.degrees {
  position: relative;
  top: -18px;
  font-size: 16px;
}

li.city {
  display: inline;

  margin: 0 30px;
}

ul.list-cities {
  margin-top: 20px;
}

ul.weather-day {
  padding: 0;
}

li#barcelona.col.city.cities {
  margin-left: 0;
}
